.header {
    background-color: black;
    width: 100%;
    height: 90px;
}

.header .container {
    max-width: 1140px;
    height: 103%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.logo img {
    display: flex;

}

.header .contain {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}



.header li {
    padding: 1rem;
}

.con {
    display: none;
}

.header .icon {
    color: #f4eeff;
    font-size: 1.5rem;
}

.header h1,
a {
    color: #f4eeff;
}

.header .container .con {
    margin-right: 40%;
    margin-top: -14%;
    margin-bottom: -10%;
}

@media screen and (max-width:750px) {
    .con {
        display: block;

    }

    .contain {
        position: absolute;
        flex-direction: column;
        justify-content: start !important;
        top: 90px;
        left: -100%;
        width: 100%;
        height: 50%;
        background-color: black;
        transition: 0.3s;
    }
}

.contain.active {
    left: 0px;
}

.contain a {
    font-size: 1.2rem;
}