.laligo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.laligo .laligotitle {
    font-family: cursive;
    font-size: 47px;
    color: rgb(255, 255, 255);
    margin-left: 0%;
    color: rgb(205, 239, 236);
}

.laligolist {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: 6fr 5fr 6fr;
    place-items: center;
    margin-top: 50px;
}



.laligoitem {
    border: 1px solid rgb(109, 109, 109);
    border-radius: 35px;
    width: 370px;
    height: 450px;
    margin: 20px;
    box-shadow: 0px 3px 15px #f9f9f933;
}

.laligoitem:hover {
    box-shadow: 0px 3px 15px #f6f6f98f;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.laligoitem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 302px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-color: white;
}

.laligoitem h1,
.laligoitem p {
    margin-left: 20px;
    color: aliceblue;
}

@media only screen and (max-width: 1300px) {
    .laligolist {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .laligolist {
        grid-template-columns: 1fr;
    }
}