.footer {
    width: 100%;
    background-color: black;
    padding: 4rem 0;
    text-align: center;
}

.footer .container {
    /* max-width: 1140px;
    margin: auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
    color: rgb(255, 0, 0);

}

.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer .container .phone {
    color: aqua;
}