.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-image: linear-gradient(70deg, #00d8ff, #6a00ff 60%);
}

.auth-form-container,
.register-form,
.login-form {
    display: flex;
    flex-direction: column;
}

@media screen and(min-width:600px) {


    .auth-form-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
    }
}

label {
    text-align: left;
    padding: .25rem 0;
}

input {
    margin: .5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #6a00ff;
}

.link-bt {
    background: none;
    color: white;
    text-decoration: underline;
}